body {
    margin: 0;
    padding: 0;
}


#curtains {
position: fixed;
  background-color: black;
  background-image: url("../images/velvet-curtain.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: opacity 5s ease-out; 

}

img {
    opacity: 62%;
}

#revealBtn {
  position: fixed;
  z-index: 20;
  /* add some positioning so you can see it, like: */
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 5s ease-out;
}

#revealBtn.hidden {
    opacity: 0;
}

#curtains.hidden {
  opacity: 0;
}

#sparkly {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/cosmos.gif");
    background-size: cover;
    background-position: center;
}